:root {
  --sk-logo-blue: rgba(1, 172, 194, 1);
  --sk-logo-dark-blue: #3E50B1;
}

.sko-button {
  background-color: var(--sk-logo-blue);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.sko-button:hover {
  background-color: var(--sk-logo-dark-blue);
  color: white;
  text-decoration: none;
}
