@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.game-page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.game-page-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.game-page-container h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.game-page-container p {
  margin-bottom: 1rem;
}

.game-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Game-header-button with improved contrast */
.game-header-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  padding: 10px 20px;
  color: var(--sl-color-gray-1);
  border: none;
  border-radius: 12px;
  position: relative;
  background: radial-gradient(
    300px circle at top left,
    rgba(85, 44, 190, 0.081) 20%,
    transparent 100%
  ),
  radial-gradient(
    300px circle at bottom right,
    rgba(44, 102, 190, 0.09) 20%,
    transparent 100%
  );
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

[data-theme="light"] .game-header-button {
  color: var(--sl-color-gray-1); /* Darker text for light mode */
}

.game-header-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px #7996f7, 0 0 8px #5a9eec, 0 0 12px #51a8fa;
}

.game-header-button:active {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ff00cc, 0 0 10px #ff00cc, 0 0 15px #ff00cc;
}

.game-page-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.game-page-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: right;
}

.game-page-container button:hover {
  background-color: #0056b3;
}

.game-page-container pre {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
}
