---
import "../styles/global.css"; // optional if it's already globally imported
import Footer from "../components/footer.astro";
import docs from "../assets/docs.png";
import os from "../assets/os.png";
---

<html lang="en">
  <head>
    <title>About Page</title>
  </head>
  <body class="bg-white text-gray-800 font-sans">
    {/* ========== HEADER ========== */}
    <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
        <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75"></div>
      </div>

      <!-- Navbar -->
<header class="flex flex-wrap lg:justify-start lg:flex-nowrap z-50 w-full py-7">
    <nav class="relative max-w-7xl w-full flex flex-wrap lg:grid lg:grid-cols-12 basis-full items-center px-4 md:px-6 lg:px-8 mx-auto">
      <div class="lg:col-span-3 flex items-center">
        {/* Logo */}
        <a class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-hidden focus:opacity-80" href="index.html" aria-label="Preline">
          <img class="h-10" src="https://splashkit.io/_astro/favicon.ByGd77Wa.svg" alt="">
        </a>
        {/* End Logo */}
  
        <div class="ms-1 sm:ms-2">
  
        </div>
      </div>
  
      {/* Button Group */}
      <div class="flex items-center gap-x-1 lg:gap-x-2 ms-auto py-1 lg:ps-6 lg:order-3 lg:col-span-3"> 
        <a href="https://www.youtube.com/@splashkit7674" type="button" class="size-9.5 relative flex justify-center items-center rounded-xl bg-white border border-gray-600 text-black hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube-icon lucide-youtube"><path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/><path d="m10 15 5-3-5-3z"/></svg>
        </a>
        <a href="https://github.com/splashkit" type="button" class="size-9.5 relative flex justify-center items-center rounded-xl bg-white border border-gray-600 text-black hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github-icon lucide-github"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/><path d="M9 18c-4.51 2-5-2-7-2"/></svg>
        </a>
        <a href="/announcements"  type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl border border-transparent bg-yellow-500 text-black hover:bg-yellow-400 cursor-pointer focus:outline-hidden focus:bg-yellow-500 transition disabled:opacity-50 disabled:pointer-events-none">
          Announcements
        </a>
  
        <div class="lg:hidden">
          <button type="button" class="hs-collapse-toggle size-9.5 flex justify-center items-center text-sm font-semibold rounded-xl border border-gray-600 text-black hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none  -700 -neutral-700 -neutral-700" id="hs-pro-hcail-collapse" aria-expanded="false" aria-controls="hs-pro-hcail" aria-label="Toggle navigation" data-hs-collapse="#hs-pro-hcail">
            <svg class="hs-collapse-open:hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
            <svg class="hs-collapse-open:block hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
          </button>
        </div>
      </div>
      {/* End Button Group */}
  
      {/* Collapse */}
      <div id="hs-pro-hcail" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow lg:block lg:w-auto lg:basis-auto lg:order-2 lg:col-span-6" aria-labelledby="hs-pro-hcail-collapse">
        <div class="flex flex-col gap-y-4 gap-x-0 mt-5 lg:flex-row lg:justify-center lg:items-center lg:gap-y-0 lg:gap-x-7 lg:mt-0">
          <div>
            <a class="relative inline-block text-black focus:outline-hidden before:absolute before:bottom-0.5 before:start-0 before:-z-1 before:w-full before:h-1 before:bg-yellow-500 " href="#" aria-current="page">Home</a>
          </div>
          <div>
            <a href="/api" class="inline-block text-black hover:text-gray-600 focus:outline-hidden focus:text-gray-600  -neutral-300 -neutral-300 " href="#">Documentation</a>
          </div>
          <div>
            <a href="/guides" class="inline-block text-black hover:text-gray-600 focus:outline-hidden focus:text-gray-600  -neutral-300 -neutral-300" href="#">Guides</a>
          </div>

        </div>
      </div>
      {/* End Collapse */}
    </nav>
  </header>
  {/* ========== END HEADER ========== */}

<div>
    <!-- Contact Us -->
<div class="max-w-5xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="text-center max-w-2xl mx-auto">
      <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl">
        Need Help with SplashKit?
      </h1>
      <p class="mt-2 text-gray-600">
        Not sure how to use a feature or start a project? We're here to guide you every step of the way.
      </p>
    </div>
  
    <div class="mt-10 max-w-3xl mx-auto pb-10">
      <!-- Card -->
      <div class="flex flex-col border border-gray-600 rounded-xl p-6 sm:p-8 lg:p-10">
        <h2 class="mb-6 text-xl font-semibold text-gray-800">
          Fill in the form
        </h2>
  
        <form>
          <div class="grid gap-4 lg:gap-6">
            <!-- Name Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
              <div>
                <label for="hs-firstname-contacts-1" class="block mb-2 text-sm text-gray-700 font-medium">First Name</label>
                <input type="text" id="hs-firstname-contacts-1" class="py-2.5 sm:py-3 px-4 w-full border-gray-300 border-2 rounded-md  sm:text-sm focus:border-blue-500 focus:ring-blue-500">
              </div>
              <div>
                <label for="hs-lastname-contacts-1" class="block mb-2 text-sm text-gray-700 font-medium">Last Name</label>
                <input type="text" id="hs-lastname-contacts-1" class="py-2.5 sm:py-3 px-4 w-full border-gray-300 border-2 rounded-md  sm:text-sm focus:border-blue-500 focus:ring-blue-500">
              </div>
            </div>
  
            <!-- Email & Phone Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
              <div>
                <label for="hs-email-contacts-1" class="block mb-2 text-sm text-gray-700 font-medium">Email</label>
                <input type="email" id="hs-email-contacts-1" autocomplete="email" class="py-2.5 sm:py-3 px-4 w-full border-gray-300 border-2 rounded-md sm:text-sm focus:border-blue-500 focus:ring-blue-500">
              </div>
              <div>
                <label for="hs-phone-number-1" class="block mb-2 text-sm text-gray-700 font-medium">Phone Number</label>
                <input type="text" id="hs-phone-number-1" class="py-2.5 sm:py-3 px-4 w-full border-gray-300 border-2 rounded-md  sm:text-sm focus:border-blue-500 focus:ring-blue-500">
              </div>
            </div>
  
            <!-- Details -->
            <div>
              <label for="hs-about-contacts-1" class="block mb-2 text-sm text-gray-700 font-medium">Details</label>
              <textarea id="hs-about-contacts-1" rows="4" class="py-2.5 sm:py-3 px-4 w-full border-gray-300 border-2 rounded-md  sm:text-sm focus:border-blue-500 focus:ring-blue-500"></textarea>
            </div>
          </div>
  
          <!-- Submit -->
          <div class="mt-6 grid">
            <button type="submit" class="w-full py-3 px-4 text-sm font-medium rounded-lg bg-blue-600 text-white  focus:outline-none focus:bg-blue-700">
              Send inquiry
            </button>
          </div>
  
          <div class="mt-3 text-center">
            <p class="text-sm text-gray-500">
              We'll get back to you in 1-2 business days.
            </p>
          </div>
        </form>
      </div>
      <!-- End Card -->
    </div>
  
<div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-4 lg:gap-8">
  <!-- Icon Block -->
  <a href="/api" class="group flex flex-col h-full text-center rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 p-4 sm:p-6" href="#">
    <svg class="size-9 text-gray-800 mx-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="12" cy="12" r="10"/>
      <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/>
      <path d="M12 17h.01"/>
    </svg>
    <div class="mt-5">
      <h3 class="text-lg font-semibold text-gray-800">Guides & Tutorials</h3>
      <p class="mt-1 text-gray-500">Step-by-step instructions to help you get started quickly.</p>
      <p class="mt-5 inline-flex items-center gap-x-1 font-medium text-blue-600">
        Explore Guides
        <svg class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"/>
        </svg>
      </p>
    </div>
  </a>
  <!-- End Icon Block -->

  <!-- Icon Block -->
  <a href="/announcements" class="group flex flex-col h-full text-center rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 p-4 sm:p-6" href="#">
    <svg class="size-9 text-gray-800 mx-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M14 9a2 2 0 0 1-2 2H6l-4 4V4c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v5Z"/>
      <path d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1"/>
    </svg>
    <div class="mt-5">
        <h3 class="text-lg font-semibold text-gray-800">Announcements</h3>
        <p class="mt-1 text-gray-500">Stay updated with the latest news, releases, and updates from SplashKit.</p>        
      <p class="mt-5 inline-flex items-center gap-x-1 font-medium text-blue-600">
        Visit FAQ
        <svg class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"/>
        </svg>
      </p>
    </div>
  </a>
  <!-- End Icon Block -->

  <!-- Icon Block -->
  <a href="https://github.com/splashkit" class="group flex flex-col h-full text-center rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 p-4 sm:p-6" href="#">
    <svg class="size-9 text-gray-800 mx-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m7 11 2-2-2-2"/>
      <path d="M11 13h4"/>
      <rect width="18" height="18" x="3" y="3" rx="2" ry="2"/>
    </svg>
    <div class="mt-5">
        <h3 class="text-lg font-semibold text-gray-800">GitHub</h3>
        <p class="mt-1 text-gray-500">Continuous GitHub support our guides and examples are always up-to-date for SplashKit integration.</p>
        <p class="mt-5 inline-flex items-center gap-x-1 font-medium text-blue-600">
          View on GitHub
          <svg class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"/>
          </svg>
        </p>
      </div>
      
  </a>
  <!-- End Icon Block -->
</div>



  </div>
  <!-- End Contact Us -->
  
</div>


  <Footer />
  </body>
</html>
