---
import StarLightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<html lang="en">
<head>
  <title>SplashKit Online</title>
  <meta name="SplashKit Online" content="SplashKit Online" />
</head>
<body>
  <header>
    <h1>SplashKit Online</h1>
  </header>
  
  <main>
    <StarLightPage frontmatter={{title: 'SplashKit Online', tableOfContents: false}}>

    </StarLightPage>
  </main>
  
  <footer>
  </footer>
</body>
</html>
