---
// import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SplashKit</title>
  </head>
  <body>
    <slot />
  </body>
  <script is:inline src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script is:inline src="./node_modules/lodash/lodash.js"></script>
  <script is:inline src="./node_modules/datatables.net/js/dataTables.min.js"></script>
  <script is:inline src="./node_modules/dropzone/dist/dropzone-min.js"></script>
  <script is:inline src="./node_modules/nouislider/dist/nouislider.min.js"></script>
  <script is:inline src="./node_modules/vanilla-calendar-pro/index.js"></script>

  <!-- Preline UI -->
  <script is:inline src="./node_modules/preline/dist/index.js"></script>
</html>
